body, html {
    margin: 0;
    padding: 0;
  } 
.screen {
    width: 100%;
    height: 100vh;
  }
  
  .left-half {
    width: 50%;
    height: 100%;
    float: left;
    background-color: gold;
  }
  
  .right-half {
    width: 50%;
    height: 100%;
    float: right;
    background-color: white;
  }
  .wrapper {
    border: 1px solid #ffffff;
    height: 300px;
    width: 300px;
    position: absolute;
    margin: auto;
    left: -790px;
    right: 0;
    top: 0;
    bottom: 0;
  }
  .container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 800px;
    perspective-origin: 50%;
  }
  .image-cube {
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    position: relative;
    transition: 2s;
  }
  .image-cube div {
    height: 300px;
    width: 300px;
    position: absolute;
  }
  img {
    width: 100%;
    transform: translateZ(0);
  }
  .front {
    transform: translateZ(150px);
  }
  .right {
    transform: rotateY(-270deg) translateX(150px);
    transform-origin: 100% 0;
  }
  .back {
    transform: translateZ(-150px) rotateY(180deg);
  }
  .left {
    transform: rotateY(270deg) translateX(-150px);
    transform-origin: 0 50%;
  }
  .btns {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
  }
  .btns button {
    background-color: transparent;
    color: #ffffff;
    border: 3px solid #ffffff;
    padding: 8px 40px;
    border-radius: 30px;
    font-size: 20px;
    cursor: pointer;
  }
  h1{
    text-align: center;
    font-family: 'ink free';
    font-size: 250%;
  }
  p{
    font-family: 'ink free';
  }
  :root {
    --vanilla: #F0FF33;
    --chocolate: #FFA4CE;
  }
 .cake {
  position: relative;
  /* top: -200px; */
  width: 250px;
  height: 200px;
  top: 20%;
  /* left: 20%; */
  margin-top: -70px;
  margin-left: -175px;
  left: 425px;
  bottom: 100px;
}
  
  .plate {
    width: 270px;
    height: 110px;
    position: absolute;
    bottom: -10px;
    left: -10px;
    background-color: #ccc;
    border-radius: 50%;
    box-shadow: 0 2px 0 #999999, 0 4px 0 #999999, 0 5px 40px rgba(0, 0, 0, 0.5);
  }
  
  .cake > * {
    position: absolute;
  }
  
  .layer {
    position: absolute;
    display: block;
    width: 250px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--chocolate);
    box-shadow: 0 2px 0px #ffb5d5,
     0 4px 0px #ff8eb8, 
     0 6px 0px #ff66a1,
     0 8px 0px #ff3e8a,
     0 10px 0px #ff2176,
     0 12px 0px #ff085e,
     0 14px 0px #ee0257,
     0 16px 0px #dd004f,
     0 18px 0px #cc0047,
     0 20px 0px #bb003f,
     0 22px 0px #aa0037,
     0 24px 0px #99002f, 
     0 26px 0px #880027, 
     0 28px 0px #77001f, 
     0 30px 0px #660017;
  }
  
  .layer-top {
    top: 0px;
  }
  
  .layer-middle {
    top: 33px;
  }
  
  .layer-bottom {
    top: 66px;
  }
  
  .icing {
    top: 2px;
    left: 5px;
    background-color: var(--vanilla);
    width: 240px;
    height: 90px;
    border-radius: 50%;
  }
  
  .icing:before {
    content: "";
    position: absolute;
    top: 4px;
    right: 5px;
    bottom: 6px;
    left: 5px;
    background-color: #f4ff3d;
    box-shadow: 0 0 4px #f4ff82, 0 0 4px #f4ff82, 0 0 4px #f4ff82;
    border-radius: 50%;
    z-index: 1;
  }
  
  .drip {
    display: block;
    width: 50px;
    height: 60px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: var(--vanilla);
  }
  
  .drip1 {
    top: 53px;
    left: 5px;
    transform: skewY(15deg);
    height: 48px;
    width: 40px;
  }
  
  .drip2 {
    top: 69px;
    left: 181px;
    transform: skewY(-15deg);
  }
  .drip3 {
    top: 54px;
    left: 90px;
    width: 80px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
  }
  .candle {
    background-color: #FCD9D9;
    width: 16px;
    height: 50px;
    border-radius: 8px 4px;
    top: -20px;
    left: 50%;
    margin-left: -8px;
    z-index: 10;
}

.candle:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 8px;
    border-radius: 50%;
    background-color: lighten(#FCD9D9, 10%);
}

.flame {
    position: absolute;
    background-color: #FF5858;
    width: 15px;
    height: 35px;
    border-radius: 10px 10px 10px 10px / 25px 25px 10px 10px;
    top: -34px;
    left: 50%;
    margin-left: -7.5px;
    z-index: 10;
    box-shadow:
        0 0 10px rgba(255, 165, 0, 0.5),
        0 0 20px rgba(255, 165, 0, 0.5),
        0 0 60px rgba(255, 165, 0, 0.5),
        0 0 80px rgba(255, 165, 0, 0.5);
    transform-origin: 50% 90%;
    animation: flicker 1s ease-in-out alternate infinite;
}

@keyframes flicker {
    0% {
        transform: skewX(5deg);
        box-shadow: 
            0 0 10px rgba(255, 165, 0, 0.2),
            0 0 20px rgba(255, 165, 0, 0.2),
            0 0 60px rgba(255, 165, 0, 0.2),
            0 0 80px rgba(255, 165, 0, 0.2);
    }
    25% {
        transform: skewX(-5deg);
        box-shadow:
            0 0 10px rgba(255, 165, 0, 0.5),
            0 0 20px rgba(255, 165, 0, 0.5),
            0 0 60px rgba(255, 165, 0, 0.5),
            0 0 80px rgba(255, 165, 0, 0.5);
    }
    50% {
        transform: skewX(10deg);
        box-shadow:
            0 0 10px rgba(255, 165, 0, 0.3),
            0 0 20px rgba(255, 165, 0, 0.3),
            0 0 60px rgba(255, 165, 0, 0.3),
            0 0 80px rgba(255, 165, 0, 0.3);
    }
    75% {
        transform: skewX(-10deg);
        box-shadow:
            0 0 10px rgba(orange, 0.4),
            0 0 20px rgba(orange, 0.4),
            0 0 60px rgba(orange, 0.4),
            0 0 80px rgba(orange, 0.4) }
    100% {
        transform: skewX(5deg);
        box-shadow:
            0 0 10px rgba(orange, 0.5),
            0 0 20px rgba(orange, 0.5),
            0 0 60px rgba(orange, 0.5),
            0 0 80px rgba(orange, 0.5) }
}

/* balloon code */
.balloon {
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
    position: relative;
  }
  
  .balloon:before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 15px 20px 15px;
    border-color: transparent transparent red transparent;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .balloon:after {
    content: "";
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }